/* https://github.com/refined-github/refined-github/pull/6051 */
.rgh-clean-dashboard [role='tabpanel'] [data-repository-hovercards-enabled] > [classes] > .body,
.rgh-clean-dashboard .news > [data-repository-hovercards-enabled] > [classes] > .body {
	background-color: var(--color-canvas-default);
	border: 1px solid var(--color-border-muted);
	border-radius: 4px;
	margin-top: 16px !important;
	box-shadow: var(--color-shadow-medium);
}

.rgh-hide-newsfeed-noise .news :is(
	[classes|="push"],
	[classes|="fork"],
	[classes|="delete"],
	[classes|="follow"],
	[classes|="release"]
) {
	display: none !important;
}
