/* `pr-approvals-count` Safari 16.4 color bug */
.js-issue-row .color-fg-muted [href$='#partial-pull-merging'][aria-label*='approval'] {
    font-size: 0.6px;
    color: transparent !important;
}

/* Disable `ci-link` on new UI https://github.com/refined-github/refined-github/pull/6583 */
.avatar ~ .rgh-ci-link {
    display: none;
}
