/* https://github.com/refined-github/refined-github/pull/6783 */
.js-check-all-container .js-bulk-action-toasts ~ div .Box-header {
 	flex-wrap: wrap;
 	height: auto !important; /* Unset the default height to allow wrapping */
 	min-height: 52px; /* Re-set the default height as a minimum height */
 }


/* https://github.com/refined-github/refined-github/pull/6781 */
 .rgh-sticky-sidebar-enabled [id^='my-forks-menu'] {
 	z-index: initial !important; /* This affects the social buttons. It seems to have no effect but it constantly causes trouble with other features. */
 }

 /* https://github.com/refined-github/refined-github/pull/6779 */
 .rgh-no-navigation-highlight .notifications-list-item:hover {
 	background: none !important;
 	box-shadow: none !important;
 }
