/* https://github.com/refined-github/refined-github/issues/9769 */
.rgh-release-download-count span[aria-label*="download"] {
	display: none !important;
}

/* https://github.com/refined-github/refined-github/issues/9761 */
.js-check-all-container .js-bulk-action-toasts ~ div .Box-header {
    height: auto !important;
    min-height: 52px;
    overflow: unset;
    white-space: unset;
    flex-wrap: wrap;
    row-gap: 7px;
}

/* https://github.com/refined-github/refined-github/issues/9866 */
:root .js-notifications-container .Box:has(.js-notifications-mark-all-prompt) .Box-header {
    top: 0;
}

/* Fix sponsor button overflowing on mobile repo home */
/* Info: https://github.com/refined-github/refined-github/issues/9912 */
/* Test: https://github.com/refined-github/refined-github */
[data-testid='responsive-social-buttons'] {
	flex-wrap: wrap;
	max-width: 100%;
}

html:not([rgh-OFF-notifications-ui]) {
  --gap: 8px;

  @media screen and not (min-width: 768px) {
    .js-notifications-container > h1.sr-only + .d-md-none {
      gap: var(--gap);
    }
  }

  @media screen and not (min-width: 1012px) {
    .manage-notifications-responsive + .d-flex {
      flex-grow: 1;
    }

    .notification-recent-alerts:not(:has(a)) {
      display: none !important;
    }

    .js-check-all-container > .flex-lg-row {
      flex-direction: row !important;
      flex-wrap: wrap;
      column-gap: var(--gap);
    }

    [aria-label='Customize filters'] {
      margin: 0 !important;
    }

    .notification-sort-by {
      margin-left: auto;
    }

    .notifications-query-builder-wrapper:not(:first-child) {
      order: 9;
    }

    .notifications-query-builder-wrapper:first-child {
      width: auto !important;
      flex-grow: 1;
    }
  }
}

