/* https://github.com/refined-github/refined-github/issues/9769 */
.rgh-release-download-count span[aria-label*="download"] {
	display: none !important;
}

/* https://github.com/refined-github/refined-github/issues/9761 */
.js-check-all-container .js-bulk-action-toasts ~ div .Box-header {
    height: auto !important;
    min-height: 52px;
    overflow: unset;
    white-space: unset;
    flex-wrap: wrap;
    row-gap: 7px;
}
